.button {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 130px;
	font-family: $ff-mont;
	font-weight: $fw-bold	;
	padding: 8px 5px;
	border-style: none;
	border-radius: 5px;
	color: $white;
	font-size: 12px;
	line-height: 1.4;
	background: $orange;
	transition: ease $tr;
	border: 1px solid transparent;
	cursor: pointer;
	white-space: nowrap;

	@media all and (min-width: $md) {
		font-size: 10px;
	}

	@media all and (min-width: $lg) {
		font-size: 12px;
	}

	&:hover {
		background: $peach;
		color: $accent;
		border: 1px solid $peach;
	}

	&.form-button {
		background: #28a745;
		border: 1px solid transparent;

		&:hover {
			background: $white;
			color: $main;
			border: 1px solid #28a745;
		}
	}

	&.cards-button {
		max-width: 150px;
	}
}

// form close-button
.close-button {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 18px;
	height: 18px;
	cursor: pointer;

	&:hover span, &:hover span::after {
		background: $main;
	}

	span{
		position: absolute;
		top: 0;
		right: 6px;
		width: 3px;
		height: 100%;
		background: #7a7a7a;
		transform: rotate( 45deg );
		transition: ease $tr;

		&::after {
			display: block;
			content: "";
			width: 3px;
			height: 100%;
			background: #7a7a7a;
			transform: rotate( 90deg );
			transition: ease $tr;
		}
	}
}

.burger-button {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 100;

	@media all and (min-width: $md) {
		display: none;
	}

	span {
		position: absolute;
		top: 11px;
		right: 0;
		display: block;
		background: $light;
		width: 100%;
		height: 3px;
		border-radius: 5px;

		&::before {
			content: "";
			position: absolute;
			top: 7px;
			right: 0;
			background: $light;
			width: 70%;
			height: 3px;
			border-radius: 5px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 14px;
			right: 0;
			background: $light;
			width: 100%;
			height: 3px;
			border-radius: 5px;
		}
	}

	&.opened {
		span {
			transform: rotate( 45deg );
			top: 20px;
			transition: transform ease $tr;
		}

		& span::before {
			opacity: 0;
		}

		& span::after {
			width: 100%;
			transform: rotate( -90deg );
			top: 0;
		}
	}
}