h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: $fw-bold;
	padding: 0;
	margin: 0;
}

h1, .h1 {
	font-family: $ff-roman;
	font-weight: $fw-semibold;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 12px;

	@media all and (min-width: $xl) {
		font-size: 48px;
		line-height: $lh-title;
	}

	span {
		color: $span;
	}
}

h2, .h2 {
	font-size: 25px;
	line-height: $lh-title;
	text-align: center;
	margin-bottom: 30px;

	@media all and (min-width: $lg) {
	}
}

h3, .h3 {
	font-size: 18px;
	line-height: $lh-headings;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease $tr;

	&:hover {
		color: $orange;
	}
}

p {
	font-size: 16px;
	margin-top: 0;
	padding: 0;
}