h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: $fw-bold;
	padding: 0;
	margin: 0;
}

h1, .h1 {
	font-size: 3rem;
	line-height: 3,375rem;

	@media all and (min-width: $lg) {
	}
}

h2, .h2 {
	font-size: 1.5625rem;
	line-height: $lh-title;

	@media all and (min-width: $lg) {
	}
}

h3, .h3 {
	font-size: 1.125rem;
	line-height: $lh-headings;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	font-size: 1rem;
	margin-top: 0;
	padding: 0;

	&:last-of-type {
		margin-bottom: 0
	}
}