// Grid.
$xs	: 375px;
$sm	: 480px;
$m	: 576px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff-light	: 'HNC-Light', sans-serif;
$ff-Medium	: 'HNC-Medium', sans-serif;
$ff-black	: 'HNC-Black', sans-serif;
$ff-bold	: 'HNC-Bold', sans-serif;
$ff-italic	: 'HNC-Italic', sans-serif;
$ff-roman	: 'HNC-Roman', sans-serif;

// Font sizes.
$fs-xs	: 11px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 36px;
$fs-xl	: 48px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

//line heights

$lh          : 1;
$lh-title    : 1.2;
$lh-headings : 2;

// Colors.
$white	 : #FFFFFF;
$accent  : #8D8D8B;
$light   : #F6F6F4;
$peach   : #F2EEE9;
$span    : #ecbe25;
$main    : #323232;
$orange  : #ffc107;


//backgrounds
$bg-grey     : #eaeff3;
$bg-dif      : linear-gradient(-56deg,#8a8787 0,#cccaca 100%);
$bg-warranty : linear-gradient(-66deg,rgba(218, 218, 221, 0.87) 20%,rgba(134, 136, 139, 0.7) 70%);

// Others.
$tr: 0.35s;
$op: 0.75;