// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff-light	: 'HNC-Light', sans-serif;
$ff-Medium	: 'HNC-Medium', sans-serif;
$ff-black	: 'HNC-Black', sans-serif;
$ff-bold	: 'HNC-Bold', sans-serif;
$ff-italic	: 'HNC-Italic', sans-serif;
$ff-roman	: 'HNC-Roman', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Colors.
$white	 : #FFFFFF;
$accent  : #0075a8;
$span    : #007bff;
$main    : #323232;
$orange  : #ffc107;


//backgrounds
$bg-grey     : #eaeff3;
$bg-dif      : linear-gradient(-56deg,#0a95e5 0,#023957 100%);
$bg-warranty : linear-gradient(-56deg,rgba(61,21,85,.7) 40%,rgba(129,27,106,.7) 70%);

// Others.
$tr: 0.35s;
$op: 0.75;