.card {
    padding: 50px 0;
    background: $peach;

    .container {
        max-width: 1140px;
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        @media all and (min-width: $lg) {
            width: 50%;
            text-align: left;
        }
    }

    &-subtitle {
        font-family: $ff-mont;
        font-weight: $fw-bold;
        font-size: 16px;
        line-height: $lh;
        text-transform: uppercase;
        margin-bottom: 18px;

        @media all and (min-width: $md) {
            font-size: 20px;
        }
    }

    &-text {
        font-family: $ff-mont;
        font-weight: $fw-regular;
        font-size: 14px;
        line-height: $lh;
        margin-bottom: 22px;

        @media all and (min-width: $md) {
            font-size: 18px;
        }
    }

    &-image {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 30px;

        @media all and (min-width: $lg) {
            width: 50%;
            margin-top: 0;
        }

        img {
            max-width: 200px;
            object-fit: cover;

            @media all and (min-width: $md) {
                max-width: 300px;
            }
        }
    }

    .cards-phone {
        margin-top: 40px;
        width: 100%;
    }

    .cards-number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-family: $ff-mont;
        font-weight: $fw-bold;
        color: $accent;

        img {
            margin-right: 10px;
        }

        &:hover {
            color: $orange;
        }

        @media all and (min-width: $sm) {
            font-size: 22px;
        }

        @media all and (min-width: $sm) {
            font-size: 24px;
        }

        @media all and (min-width: $lg) {
            justify-content: flex-start;
            font-size: 28px;
        }
    }
}

.sales {
    background: $light;
}

.hero-inform-wrapper {
    padding: 40px 0;
}

.hero-inform-text {
    font-family: $ff-mont;
    font-weight: $fw-regular;
    font-size: 12px;
    color: $accent;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @media all and (min-width: $sm) {
        font-size: 14px;
    }

    @media all and (min-width: $md) {
        font-size: 16px;
    }
}

.hero-inform-item {
    font-family: $ff-mont;
    font-weight: $fw-bold;
    font-size: 16px;

    margin-bottom: 10px;

    &::before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        background: $orange;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.cards-worktime {
    margin-top: 20px;
    font-family: $ff-mont;
    font-weight: $fw-bold;
    font-size: 18px;
}



