@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Black.eot');
    src: url('HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('HelveticaNeueCyr-Black.woff') format('woff'),
        url('HelveticaNeueCyr-Black.ttf') format('truetype'),
        url('HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Light.eot');
    src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('HelveticaNeueCyr-Light.woff') format('woff'),
        url('HelveticaNeueCyr-Light.ttf') format('truetype'),
        url('HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-LightItalic.eot');
    src: url('HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
        url('HelveticaNeueCyr-LightItalic.woff') format('woff'),
        url('HelveticaNeueCyr-LightItalic.ttf') format('truetype'),
        url('HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.eot');
    src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('HelveticaNeueCyr-Bold.woff') format('woff'),
        url('HelveticaNeueCyr-Bold.ttf') format('truetype'),
        url('HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Roman.eot');
    src: url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('HelveticaNeueCyr-Roman.woff') format('woff'),
        url('HelveticaNeueCyr-Roman.ttf') format('truetype'),
        url('HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Medium.eot');
    src: url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('HelveticaNeueCyr-Medium.woff') format('woff'),
        url('HelveticaNeueCyr-Medium.ttf') format('truetype'),
        url('HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

