.cards {
    padding: 30px 0;

    .container {
        max-width: 1140px;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .card-item {
        width: calc( 100% / 6 );
        display: none;
        flex-direction: column;
        padding: 0 20px;
        overflow: hidden;
        cursor: pointer;

        &.visible {
            display: flex;
        }
    }

    .card-item-image {
        display: flex;
        align-items: center;
        img {
            width: 100px;
            min-height: 140px;
        }
    }

    .card-item-inner {
        min-height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $bg-grey;
    }

    .card-item-text {
        text-align: center;
    }

    .button.cards-button {
        margin: 50px auto 0 auto;
    }
}