.cards {
    padding: 30px 0;
    background: $light;

    .container {
        max-width: 1140px;
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .card-item {
        width: calc( 100% / 2 );
        display: flex;
        height: 0;
        flex-direction: column;
        padding: 0 20px;
        overflow: hidden;
        cursor: pointer;
        transition: height ease 2s,
                    opacity ease $tr;

        @media all and (min-width: $m) {
            width: calc( 100% / 3 );
        }

        @media all and (min-width: $lg) {
            width: calc( 100% / 6 );
        }

        &:hover {
            opacity: $op;
            .card-item-image {
                border: 3px solid $bg-grey;
            }

            .card-item-text {
                color: $orange;
            }
        }

        &.visible {
            height: auto;
            margin-bottom: 40px;
        }
    }

    .card-item-image {
        min-height: 220px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $bg-grey;
        transition: border ease $tr;

        img {
            width: 100px;
            min-height: 140px;
        }
    }

    .card-item-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-item-text {
        text-align: center;
        margin-top: 20px;
        transition: color ease $tr;
    }

    .button.cards-button {
        margin: 0 auto;
    }
}