.guarantees {
	padding: 30px 0;
	background: $peach;

	.container {
		max-width: 992px;
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0 -20px;
	}

	&-item {
		width: calc( 100% / 1 );
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0 20px;
		cursor: pointer;
		margin-bottom: 20px;

		@media all and (min-width: $md) {
			justify-content: center;
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media all and (min-width: $m) {
			width: calc( 100% / 3 );
			margin: 0;
		}
	}

	&-text {
		display: flex;
		align-items: center;
		font-family: $ff-roman;
		font-weight: $fw-regular;
		font-size: $fs-sm;
		min-height: 50px;
		margin-left: 20px;

		@media all and (min-width: $md) {
			font-size: $fs-md;
		}
	}
}