.header {
	background: $accent;

	&::after {
		content: "";
		display: block;
		background: #00639b;
		width: 100%;
		height: 10px;
	}

	.container {
		max-width: 1140px;
	}

	&-wrapper {
		padding: 7px 0;
	}

	&-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&-logo {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: ease $tr;

		@media all and (min-width: $m) {
			width: 50%;
		}

		@media all and (min-width: $md) {
			width: 33.333%;
			justify-content: flex-start;
		}

		img {
			width: 35px;
		}
	}

	&-logo-text {
		font-family: $ff-roman;
		font-weight: $fw-bold;
		text-transform: uppercase;
		font-size: $fs-xs;
		line-height: $lh;
		max-width: 120px;
		margin-left: 10px;
		color: $white;
	}

	&-menu {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 10px 0;

		@media all and (min-width: $m) {
			width: 50%;
			margin: 0;
		}

		@media all and (min-width: $md) {
			width: 33.333%;
			justify-content: center;
		}
	}

	&-menu-item {
		font-family: $ff-roman;
		font-weight: $fw-regular;
		text-transform: uppercase;
		font-size: $fs-sm;
		line-height: 1.5;
		margin-right: 20px;
		color: $white;

		@media all and (min-width: $lg) {
			margin-right: 60px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&-phone {
		width: 100%;
		display: flex;
		justify-content: center;

		@media all and (min-width: $m) {
			margin-top: 10px;
		}

		@media all and (min-width: $md) {
			margin-top: 0;
			width: 33.333%;
			justify-content: flex-end;
		}
	}

	&-phone-number {
		display: flex;
		align-items: center;
		font-family: $ff-roman;
		font-weight: $fw-regular;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 1.2;
		color: $white;

		img {
			margin-right: 20px;
		}
	}
}
