.header {
	background: $accent;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	padding: 5px 0;
	transition: padding $tr,
		box-shadow ease $tr;

	&.scrolled {
        box-shadow: 2px 2px 6px 4px #4e4d49;
        padding: 0;
	}

	.container {
		max-width: 1140px;
	}

	.menu-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-wrapper {
		padding: 7px 0;
	}

	&-box {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media all and (min-width: $md) {
			width: 5%;
		}
	}

	&-inner {
		position: fixed;
		top: 0;
		left: 0;
		background: $light;
		width: 50%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		opacity: 0;
		box-shadow: 5px 5px 10px 1px $accent;
		transform: translateX( -2000px );

		@media all and (min-width: $md) {
			position: static;
			transform: translateX( 0 );
			height: auto;
			opacity: 1;
			width: 100%;
			box-shadow: none;
			background: none;
			color: $white;
		}

		&.opened {
			opacity: 1;
			transition: opacity ease 1s;
			transform: translateX( 0 );

			.header-logo {
				margin: 0 auto;
			}

			.header-logo.inner-logo {
				display: flex;
			}
		}
	}

	&-logo {
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity ease $tr;

		&.inner-logo {
			display: none;
		}

		// @media all and (min-width: $md) {
		// 	width: 5%;
		// 	justify-content: flex-start;
		// }

		&:hover {
			opacity: 0.5;
		}

		img {
			width: 35px; //50

			@media all and (min-width: $md) {
				width: 45px;
			}
		}
	}

	&-menu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		margin: 10px 0;

		@media all and (min-width: $md) {
			flex-direction: row;
			width: 47.5%;
			margin: 0;
		}
	}

	&-menu-item {
		display: flex;
		justify-content: center;
		font-family: $ff-col;
		font-weight: $fw-regular;
		text-transform: uppercase;
		font-size: $fs-sm;
		line-height: 1.5;
		margin-bottom: 40px;
		color: $accent;

		@media all and (min-width: $md) {
			margin-bottom: 0;
			margin-right: 20px;
			color: $peach;
		}

		@media all and (min-width: $lg) {
			margin-right: 60px;
		}

		&:last-child {
			margin-bottom: 0;

			@media all and (min-width: $md) {
				margin-right: 0;
			}
		}
	}

	&-phone {
		width: 100%;
		display: none;
		justify-content: center;

		@media all and (min-width: $md) {
			width: 47.5%;
			justify-content: flex-end;
		}
	}

	&-phone-number {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $ff-col;
		font-weight: $fw-regular;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 1.2;
		color: $accent;
		text-align: center;

		@media all and (min-width: $md) {
			color: $light;
			flex-direction: row;
			font-size: 20px;
		}

		img {
			margin-bottom: 20px;

			@media all and (min-width: $md) {
				margin: 0 20px 0 0;
				font-size: 20px;
			}
		}
	}

	.header-button-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;

		@media all and (min-width: $md) {
			width: 47.5%;
			justify-content: flex-end;
		}
	}
}
